<div class="forBack">
  <div class="background">
    <span id="title">Geek News</span>
  </div>
</div>

<div class="container" [style.display]="existOrnotExist ? 'flex' : 'none'">
  <div class="usualNews" [routerLink]=" '/news' " *ngFor="let news of searchingNews; index as i"
    [style.background-image]="'url(' + news.image + ')'" (click)="checkId(i)">
    <div class="namingUsual">
      <span id="titleUsual">{{news.title}}</span>
      <span id="descriptionUsual">{{news.description}}</span>
      <div class="bataAndCategory">
        <span id="dateUsual">{{news.data}}</span>
        <span id="categoryUsual">{{news.category}}</span>
      </div>
    </div>
  </div>
  <div class="evenOrOdd" [style.display]="twoCheckForNews % 3 == 0 ? 'flex' : 'none'"></div>
  <div class="evenOrOdd" [style.display]="checkForNews % 3 == 0 ? 'flex' : 'none'"></div>
  <div class="evenOrOdd" [style.display]="checkForNews % 3 == 0 ? 'flex' : 'none'"></div>
</div>

<div class="alertNotExist" [style.display]="existOrnotExist ? 'none' : 'flex'">
  <p>These news do not exist</p>
</div>
