<footer>
  <div class="container">
    <div class="left">
        <span>geeknewsgmail.com</span>
        <span [style.margin-bottom]="'20px'">+38(093)-333-3333</span>
        <span>вул. Івана Франка 97, адміністрація - каб.97,</span>
        <span [style.margin-bottom]="'20px'">м. Львів, Україна, 79011</span>
        <span>©Geek News design studio</span>
    </div>
    <div class="right">
        <div id="icon" [routerLink]="[ '/home' ]"></div>
        <div class="socialNetworks">
            <div id="inst"></div>
            <div id="face"></div>
            <div id="linkedin"></div>
            <div id="twit"></div>
        </div>
    </div>
  </div>
</footer>
